
    <body>
        <h1>Webbutväckling - Ramschema</h1>
        <div>
            <label>Sök:<br></label>
            <input type="text" id="search-field">
        <table id="content">
            <thead>
                <td (click)="sort(0)">Kurskod:</td>
                <td (click)="sort(1)">Namn:</td>
                <td (click)="sort(2)">Progression:</td>
            </thead>
            <tbody *ngFor="let code of content; let i = index;">
                <td>{{content[i].code}}</td>
                <td>{{content[i].coursename}}</td>
                <td>{{content[i].progression}}</td>
            </tbody>
        </table>
<!--(input)="searchSort(this.value)-->